<?xml version="1.0" encoding="UTF-8"?>
 
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/eventos_bd</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.hbm2ddl.auto">update</property>         
          
        <property name="hibernate.show_sql">false</property>

        <!-- Mapeamento da entidade Usuario -->
        <mapping class="Evento"/>
        <mapping class="EventoFeriado" />
        <mapping class="EventoFormatura" />
        <mapping class="EventoIgreja" />
        <mapping class="EventoPalestra" />
        <mapping class="EventoReuniao" />
        <mapping class="EventoShow" />
        <mapping class="Cliente" />
    </session-factory>
</hibernate-configuration>